<div class="section-divider"></div>

<section class="benefits">
   <div class="container">
      <div class="row g-4">
            <div class="col-md-4">
               <div class="benefit">
                  <div class="benefit-icon">
                     <i class="bi bi-truck"></i>
                  </div>
                  <div>
                     <h5>Free Shipping</h5>
                     <p>Free delivery on orders over $100</p>
                  </div>
               </div>
            </div>

            <div class="col-md-4">
               <div class="benefit">
                  <div class="benefit-icon">
                     <i class="bi bi-shield-check"></i>
                  </div>

                  <div>
                     <h5>Secure Payment</h5>
                     <p>Protect payment with zarinpal</p>
                  </div>
               </div>
            </div>

            <div class="col-md-4">
               <div class="benefit">
                  <div class="benefit-icon">
                     <i class="bi bi-shop-window"></i>
                  </div>
                  <div>
                        <h5>Original Brands</h5>
                        <p>Guarantee of original products</p>
                  </div>
               </div>
            </div>
      </div>
   </div>
</section>