{% load static %}

<footer>
   <div class="container">

      <div class="row gy-5">

         <div class="col-lg-4">

            <a class="footer-brand" href="/">
               LOGIX<span>SHOP</span>
            </a>

            <div class="socials mt-5">

               <a href="#">
                  <i class="bi bi-instagram"></i>
               </a>

               <a href="#">
                  <i class="bi bi-github"></i>
               </a>

               <a href="https://t.me/Ya3inNazari" target="_blank">
                  <i class="bi bi-telegram"></i>
               </a>

            </div>

         </div>


         <div class="col-6 col-lg-2">
            <h6>Shop</h6>

            <a href="#products">Products</a>
            <a href="#categories">Categories</a>
            <a href="#">New Arrivals</a>
            <a href="#">Best Sellers</a>
         </div>


         <div class="col-6 col-lg-2">
            <h6>Support</h6>

            <a href="#">FAQ</a>
            <a href="#">Contact Us</a>
            <a href="#">Ticket</a>
         </div>


         <div class="col-6 col-lg-2">
            <h6>Dashboard</h6>

            <a href="#">Profile</a>
            <a href="#">Orders</a>
            <a href="admin">Admin</a>
            <a href="#">Sign In</a>
         </div>


         <div class="col-6 col-lg-2">
            <h6>Contact</h6>

            <span class="footer-contact text-secondary">
               +98 910 888 5404
            </span>
         </div>

      </div>


      <div class="footer-bottom">

         <span>© 2026 LogixShop. All rights reserved.</span>

         <span>Built By Ya3in</span>

      </div>

   </div>
</footer>