<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom">
   <div class="container py-2">

      <a class="navbar-brand fw-bold fs-3" href="/">
         LOGIX<span class="brand-dot">SHOP</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">

         <ul class="navbar-nav mx-auto gap-lg-4">
               <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link" href="#products">Products</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link" href="#categories">Categories</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link" href="about">About</a>
               </li>
         </ul>

         <div class="d-flex align-items-center gap-3">

               <button class="icon-btn">
                  <i class="bi bi-search"></i>
               </button>

               <button class="icon-btn position-relative">
                  <i class="bi bi-bag"></i>
                  <span class="cart-count">0</span>
               </button>

               <a href="#" class="sign-btn">
                  <i class="bi bi-person"></i>
                  Sign In
               </a>
         </div>

      </div>

   </div>
</nav>