{% load humanize %}

<div class="section-divider"></div>

<section class="section products-section" id="products">
   <div class="container">
      <div class="section-heading">

         <div>
            <span class="section-label">LIST OF</span>
            <h2>PRODUCTS</h2>
         </div>

         <a class="view-all" href="#">
            View all <i class="bi bi-arrow-right"></i>
         </a>

      </div>
      
      <div class="row g-4">
         {% for product in products %}

            <div class="col-6 col-lg-3">

                  <div class="product-card">

                     <div class="product-image">
                        <span class="discount-badge">20% OFF</span>

                        <img src="../media/{{ product.image }}" alt="product {{ product.id }}">
                        <button class="quick-add-btn" type="button">
                           <i class="bi bi-bag-plus"></i>
                           Add to cart
                        </button>
                     </div>

                     <div class="product-info mt-4">
                        <span class="product-category">{{ product.category_title }}</span>

                        <h6 class="mt-2">{{ product.title }}</h6>

                        <i class="bi bi-coin text-secondary"></i>
                        <span class="product-price"">
                           {{ product.price | intcomma }}</span>
                     </div>

                  </div>

            </div>

         {% endfor %}
      </div>

   </div>
</section>